<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
      <script src="lib/tasks.js"></script>

      <!-- =======================================================
          Template Name: Dashio
          Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
          Author: TemplateMag.com
          License: https://templatemag.com/license/
      ======================================================= -->
  </head>
  <body>
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>学生成长分析平台</b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">4</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 4 pending tasks</p>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Dashio Admin Panel</div>
                    <div class="percent">40%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Database Update</div>
                    <div class="percent">60%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">60% Complete (warning)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Product Development</div>
                    <div class="percent">80%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Payments Sent</div>
                    <div class="percent">70%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="sr-only">70% Complete (Important)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="external">
                <a href="#">See All Tasks</a>
              </li>
            </ul>
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">5</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 5 new messages</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-zac.jpg"></span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-divya.jpg"></span>
                  <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                  <span class="message">
                  Hi, I need your help with this.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-danro.jpg"></span>
                  <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                  <span class="message">
                  Love your new Dashboard.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="photo"><img alt="avatar" src="img/ui-sherman.jpg"></span>
                  <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                  <span class="message">
                  Please, answer asap.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all messages</a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">7</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have 7 new notifications</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-warning"><i class="fa fa-bell"></i></span>
                  Memory #2 Not Responding.
                  <span class="small italic">30 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Disk Space Reached 85%.
                  <span class="small italic">2 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-success"><i class="fa fa-plus"></i></span>
                  New User Registered.
                  <span class="small italic">3 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">您好，李娟！</h5>
          <li class="mt">
            <a href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>公告栏</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="data_import_export.html">
              <i class="fa fa-desktop"></i>
              <span>数据导入/导出</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/templates/servermaterial/inquiry.html">
              <i class="fa fa-cogs"></i>
              <span>学生信息查询</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>指标体系</span>
              </a>
            <ul class="sub">
              <li><a  href="/templates/servermaterial/basic_table.html">体系简介</a></li>
              <li><a  href="/templates/servermaterial/index_definition.html">指标自定义</a></li>
              <li><a  href="/templates/servermaterial/index_computation.html">指标计算</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>学生成长监测</span>
              </a>
            <ul class="sub">
              <li><a href="form_component.html">Form Components</a></li>
              <li><a href="advanced_form_components.html">Advanced Components</a></li>
              <li><a href="form_validation.html">Form Validation</a></li>
              <li><a href="contactform.html">Contact Form</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a class="active" href="/templates/servermaterial/intervene.html">
              <i class="fa fa-th"></i>
              <span>学生成长干预</span>
            </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="col-lg-12 mt">
          <div class="row content-panel">
            <h4>学生查询</h4>
            <div class="col-lg-12 detailed">
              <h4>学生查询</h4>
              <form role="form" class="form-horizontal">
                <div class="form-group col-lg-4">
                  <label class="col-lg-3 control-label">学院</label>
                  <div class="col-lg-8">
                    <select class="form-control">
                      <option value="volvo">电子信息与电气工程学院</option>
                      <option value="volvo">机械与动力工程学院</option>
                      <option value="saab">人文学院</option>
                      <option value="mercedes">数学科学学院</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-lg-4">
                  <label class="col-lg-3 control-label">专业</label>
                  <div class="col-lg-8">
                    <select class="form-control">
                      <option value="volvo">电子系</option>
                      <option value="volvo">仪器系</option>
                      <option value="saab">计算机系</option>
                      <option value="mercedes">自动化系</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-lg-4">
                  <label class="col-lg-3 control-label">年级</label>
                  <div class="col-lg-8">
                    <select class="form-control">
                      <option value="volvo">本科一年级</option>
                      <option value="volvo">本科二年级</option>
                      <option value="saab">本科三年级</option>
                      <option value="mercedes">本科四年级</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-lg-4">
                  <label class="col-lg-3 control-label">班级</label>
                  <div class="col-lg-8">
                    <select class="form-control">
                      <option value="volvo">B13033910</option>
                      <option value="volvo">B14033910</option>
                      <option value="saab">B15033910</option>
                      <option value="mercedes">B16033910</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-lg-4">
                  <label class="col-lg-3 control-label">时间范围</label>
                  <div class="col-lg-8">
                    <select class="form-control">
                      <option value="volvo">最近一周</option>
                      <option value="volvo">最近一个月</option>
                      <option value="saab">最近三个月</option>
                      <option value="mercedes">最近六个月</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-lg-4">
                  <button class="btn btn-theme">查询</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt">
            <div class="row content-panel">
              <h4>成长记录</h4>
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#study">学业水平</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#health">身体健康</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#moral">品德发展</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <!-- /学业水平 -->
                  <div id="study" class="tab-pane active">
                      <div class="col-lg-12 detailed">
                        <h4>学生学业水平指导意见</h4>
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                                <tr>
                                  <th>姓名</th>
                                  <th>学号</th>
                                  <th>学院</th>
                                  <th>专业</th>
                                  <th>年级</th>
                                  <th>班级</th>
                                  <th>身体健康情况</th>
                                  <th>指导意见</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>学业发展情况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>学业发展情况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>学业发展情况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>学业发展情况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>学业发展情况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>学业发展情况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>学业发展情况</td>
                                  <td>指导意见</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                  </div>
                  <!-- /身体健康 -->
                  <div id="health" class="tab-pane">
                      <div class="col-lg-12 detailed">
                        <h4>学生身体健康指导意见</h4>
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                                <tr>
                                  <th>姓名</th>
                                  <th>学号</th>
                                  <th>学院</th>
                                  <th>专业</th>
                                  <th>年级</th>
                                  <th>班级</th>
                                  <th>身体健康情况</th>
                                  <th>指导意见</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>体质健康状况</td>
                                  <td>指导意见</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                  </div>
                  <!-- /品德发展 -->
                  <div id="moral" class="tab-pane">
                      <div class="col-lg-12 detailed">
                        <h4>学生品德发展指导意见</h4>
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                                <tr>
                                  <th>姓名</th>
                                  <th>学号</th>
                                  <th>学院</th>
                                  <th>专业</th>
                                  <th>年级</th>
                                  <th>班级</th>
                                  <th>品德发展情况</th>
                                  <th>指导意见</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                                <tr>
                                  <td>张三</td>
                                  <td>123456789</td>
                                  <td>电子信息与电器工程学院</td>
                                  <td>仪器系</td>
                                  <td>本科一年级</td>
                                  <td>123456</td>
                                  <td>品德发展状况</td>
                                  <td>指导意见</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                  </div>
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
        </div>
          <!-- /row -->
        <!--/div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
        <a href="profile.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="lib/jquery.scrollTo.min.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="lib/common-scripts.js"></script>
    <!--script for this page-->
    <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="lib/bootstrap-daterangepicker/date.js"></script>
    <script type="text/javascript" src="lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="lib/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="lib/advanced-form-components.js"></script>
  </body>
</html>
